.index-title-sections:hover .index-title-links {
  opacity: 1;
  transform: translate(0, -40px);
  scale: 1;
}

.index-title-sections:hover .index-title {
  transform: translateY(-50px) scale(0.95);
}