header {
  z-index: 15;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px; 
  background: rgb(56, 121, 179);
  background: linear-gradient(68deg, rgba(56, 121, 179, 1) 14%, rgba(52, 107, 170, 1) 36%, rgba(36, 92, 157, 1) 62%, rgba(40, 73, 132, 1) 87%);
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  left: 0;
}

.dropdown-menu {
  cursor: pointer;
  position: absolute;
  height: 25px;
  margin-left: 20px;
  top: 8.5px;
  transition: all 0.2s;
}

.arrow-left {
  cursor: pointer;
  position: absolute;
  height: 25px;
  margin-left: 50px;
  top: -45px;
  transition: all 0.2s;
}

.close-menu {
  cursor: pointer;
  position: absolute;
  height: 25px;
  margin-left: 20px;
  top: -45px;
  transition: all 0.2s;
}

.more {
  pointer-events: auto;
  display: inline;
  z-index: 2;
  cursor: pointer;
  position: relative;
  height: 14px;
  margin-top: 1px;
  transition: transform 0s, top 0.2s, rotate 0.2s;

  display: none;
}

.more:hover {
  transform: rotate(360deg);
  transition: transform 1s, top 0.2s, rotate 0.2s;
}

.dropdown-menu:hover,
.close-menu:hover {
  transform: translateY(-5px);
}

.arrow-left:hover {
  transform: translateX(-10px);
}

.links :not(.more){
  z-index: 3;
  position: relative;
  top: 70px;
  font-size: 17px;
  text-align: center;
  width: 100%;
  word-spacing: 30px;
  transition: all 0.2s;

  display: none;
  opacity: 0;
}

.links :not(.more) {
  transition: all 0.2s;

  color: rgb(242, 159, 0);
}

.links a:hover {
  opacity: .7;
}


.active-tab {
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
}

.active-tab::after {
  background: rgb(252, 191, 30);
  background: linear-gradient(to right, transparent 0%, rgb(252, 191, 30) 50%, transparent 100%);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
}

.login {
  position: absolute;
  text-decoration: underline;
  font-family: Skaut-text;
  font-size: 14px;
  right: 15px;
  top: 10px;
}

.oddil-menu {
  position: relative;
  left: 105px;
  width: 100px;
  margin-left: 5px;
  top: 93px;
  text-align: center;

  transition: all .2s;

  opacity: 0;
  display: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.oddil-menu div {
  cursor: pointer;
  padding: 3px;
  background-color: rgb(244, 158, 0);
  position: relative;
  top: 5px;
  transition: all .2s;
  height: 30px;
  font-size: 14px;
}

.section:hover {
  background-color: rgba(244, 159, 0, 0.852);
}

.section:active {
  background-color: rgb(207, 135, 2);
}